{%extends 'main/base.html'%}
    {% block 'conteudo' %}
    <main class="container">
        <h2>Login</h2>
        <form>
            <div class="input-field">
                <input type="text" name="usuário" id="usuário"
                placeholder="Nome do usuário">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="senha" id="password"
                placeholder="Digite sua Senha">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Continue">
        </form>

        <div class="footer">
            <span>Ou faça login com: </span>
            <a href="{% url "social:begin" "google-oauth2" %}">Login com o Google </a>
                <div class="social-fields facebook">
                        <a href="#">
                            <i class="fab fa-facebook">
                                facebook
                            </i>
                        </a>
                    </div>
            </div>
        </div>

    </main>
    {% endblock 'conteudo' %}    

